
<div ng-controller="TimeseriesListCtrl">

	<div class="masthead">
		<ul class="nav nav-pills pull-right">
			<li><a href="#/services/{{serviceId}}">back</a></li>
		</ul>
		<h3 class="muted">Timeseries</h3>
	</div>

    <div class="span5 pull-left parameterList">
	    <input type="text" ng-model="search" placeholder="Filter by name...">
		<ul class="timeseries">
			<li ng-repeat="t in timeseries | filter:searchInRelevantProperties">
				<!-- decode twice since browser decodes automatically when routing -->
				<a href="#/services/{{serviceId}}/timeseries/{{utils.doubleEncode(t.id)}}">{{t.parameters.offering.label}} {{t.parameters.phenomenon.label}}</a>
			</li>
		</ul>
	</div>
</div>
