/* app css stylesheet */

#station-overview-map {
    height: 600px;
    width: 60%;
}

#single-station-map {
    height: 250px;
    width: 50%;
}

.parameterList {
    height: 600px;
    overflow: auto;
    border-bottom: 1px solid #EEE;
}

body {
  margin: 10px;
  margin-bottom: 60px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Subtract the body left margin here, to ensure this is full width */
  margin-left: -10px;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

