/* app css stylesheet */

#station-overview-map {
    height: 600px;
    width: 60%;
}

#single-station-map {
    height: 250px;
    width: 50%;
}

.parameterList {
    height: 600px;
    overflow: auto;
    border-bottom: 1px solid #EEE;
}

body {
  margin: 10px;
}

